:root {
    --background-color: #d2e9e9;
    --form-color: #f8f6f4;
    --field-color: #ffffff;
    --button-color: #c4dfdf;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-body-container {
    flex-grow: 1;
}
