:root {
    --background-color: #D2E9E9;
    --form-color: #F8F6F4;
    --field-color: #ffffff;
    --button-color: #C4DFDF;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.home-body {
    flex-grow: 1;
}

.card-attribute {
    font-weight: 800;
    font-size: 15px;
    letter-spacing: 0.06em;
}



.order-details-contianer .card-body {
    padding: 3rem;
}

.order-details-contianer .table td {
    border-bottom: none;
}


.order-details-button {
    width: 200px;
}

.refund-button {
    background-color: red;
    color: white;
}

.refund-button:hover {
    background-color: rgb(218, 4, 4);
    color: white;
}
