:root {
    --background-color: #D2E9E9;
    --form-color: #F8F6F4;
    --field-color: #ffffff;
    --button-color: #C4DFDF;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.home-body {
    flex-grow: 1;
}

.card {
    transition: all 0.2s ease-in-out;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

a {
    color: inherit;
    text-decoration: none;
}

.card-attribute {
    font-weight: 800;
    font-size: 15px;
    letter-spacing: 0.06em;
}
