.create-product {
    margin: auto;
    padding: 20px;
}

.create-product textarea {
    resize: none;
}

.form-group {
    width: 100%;
    margin: auto;
}

.form-group .btn {
    width: 100%;
    margin: auto;
}
