:root {
    --background-color: #D2E9E9;
    --form-color: #F8F6F4;
    --field-color: #ffffff;
    --button-color: #C4DFDF;
}


body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-product-index {
    flex-grow: 1;
}



