:root {
    --background-color: #D2E9E9;
    --form-color: #F8F6F4;
    --field-color: #ffffff;
    --button-color: #C4DFDF;
}


body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-product-index {
    flex-grow: 1;
}


.card {
    margin: 0.2rem;
    border-radius: 7px;
    transition: all 0.2s ease-in-out;

}

.card-img-top {
    height: 200px;
    object-fit:fill;
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-title{
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 0.06em;
}

.card-attribute {
    font-weight: 800;
    font-size: 15px;
    letter-spacing: 0.06em;
}

.card-button {
    border: none;
    background-color: var(--button-color);
    border-radius: 5px;
    width: 100%;
    padding: 7px;
    margin-bottom: 7px;
}

.card-footer a {
    display: block;
}

.card-button:hover {
    background-color: #b5d1d1;
    transform: scale(1.02);
}

.card-button:disabled:hover {
    cursor: not-allowed;
}


.out-of-stock {
    font-weight: 800;
    font-size: 15px;
    letter-spacing: 0.06em;
    color: red
}

.warning {
    color:red;
    margin: 0 10px;
}

.warning-response {
    color:red;
    display: block;
    margin: 0 10px;
    text-align: center;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transform: scale(1.01);
    transition: all 0.2s ease-in-out;
}


.delete-product {
    background-color: #ff4d4d;
}

.delete-product:hover {
    background-color: rgb(174, 49, 49)
}
